/*-------------------
    RESET
-------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------------
    DEBUG
-------------------*/
body{
    background-color: rgb(26, 58, 74);
}

.debug .box{
    background-color: rgb(64, 135, 174);
}

.debug .aqua{
    background-color: rgb(98, 211, 164);
}

/*-------------------
    COMMON
-------------------*/
.container-small{
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    
}

.box{
    width: 80px;
    height: 80px;
    margin: 5px 5px;
}

.container{
    text-align: center;
}

/*-------------------
    THYPO
-------------------*/
.title{
    color: white;
    font-size: 60px;
    font-weight: bold;
}